# IDEs y Editores

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de Sistema

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Docker y Base de Datos local

.docker/
pg_data/
db_data/

# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Variables de entorno

.env
.env.local

# Documentación / Archivos generados

docs/*.xlsx
docs/*.xlsb
docs/*.xls*
docs/*.pdf
docs/*.docx
docs/*.doc*

