@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --ring: 346.8 77.2% 49.8%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 22% 11%;    /* #141824 - Tono elegante de gris pizarra oscuro no tan negro */
    --foreground: 210 20% 98%;

    --muted: 220 18% 18%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --popover: 222 22% 14%;       /* #1b2030 - Tarjetas y Popovers */
    --popover-foreground: 210 20% 98%;

    --card: 222 22% 14%;          /* #1b2030 */
    --card-foreground: 210 20% 98%;

    --border: 220 16% 22%;        /* #2b3245 */
    --input: 220 16% 22%;

    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 220 18% 18%;
    --secondary-foreground: 210 20% 98%;

    --accent: 220 18% 18%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
}
